/*
 * To-Do Plus
 * homepage.css
 * @author: Michaela Pařilová(xparil04)
 */

.taskListViewBg .titles{
    margin: 150px 150px;
}

.taskListViewBg .titles h1{
    font-size: 70px;
}

.taskListViewBg .titles h2{
    font-style: italic; 
    margin-top: 0px;
}

.taskListViewBg .titles .subtitles{
    margin-top: 150px;
}

.taskListViewBg .titles .subtitles h3{
    margin-top: 40px;
}

.taskListViewBg .titles .subtitles .newTaskList{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.taskListViewBg .titles .subtitles .newTaskList .icon{
    padding-right: 10px;
    padding-left: 20px;
}

.taskListViewBg .titles .subtitles .version{
    padding-left: 20px;
}

.taskListViewBg .titles .subtitles .tips{
    padding-left: 20px;
}