/*
 * To-Do Plus
 * taskListView.css
 * @author: Michaela Pařilová(xparil04)
   TODO: sjednotit hlavicky :)
 */

.taskListViewBg{
	background-image: url("placeholder-bg.webp");
 	background-color: #cccccc;
	color: var(--sidebar-text-color-lightest);
}

.taskListLayout {
	display: flex;
	flex-direction: row;
	height: 100%;
	margin-right: -12px;
}

.taskListPage{
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-right: 12px;
	flex-grow: 2;
}

.taskNameAndList{
	display: flex;
}

.taskNameAndList .taskMenuList{
	margin-left: auto;
	background-color: rgba(41, 50, 73, 0.6);
	height: 25px;
	align-items: center;	
}

.taskNameAndList .taskMenuList:hover{
	margin-left: auto;
	background-color: rgba(41, 50, 73, 1.0);
	height: 25px;
	align-items: center;	
}

.taskBox{
	background-color: rgba(41, 50, 73, 0.6);
	margin-bottom: 15px;
	width: auto;
	height: 25px;
	display: flex;
	padding: 10px 10px;
	border-radius: 10px;
	justify-content: left;
  	align-items: center;
}

.taskBoxCompleted{
	background-color: rgba(41, 50, 73, 0.6);
	margin-bottom: 15px;
	width: auto;
	height: 25px;
	display: flex;
	padding: 10px 10px;
	border-radius: 10px;
	justify-content: left;
  	align-items: center;
	color: var(--sidebar-text-color-darkest);
}

.taskBoxCompleted:hover,
.taskBox:hover{
	background-color: rgba(41, 50, 73, 1.0);
}

.taskBoxCompleted .icon,
.taskBox .icon{
	float: left;
	display: inline;
	padding-right: 10px;
	cursor: pointer;
}

.taskBoxCompleted .content,
.taskBox .content{
	font-size: 16px;
}

.taskBoxCompleted .buttonSetImportance,
.taskBox .buttonSetImportance{
	margin-left: auto;
}

.taskBoxCompleted  .buttonSetImportance .taskImportanceIcon,
.taskBox .buttonSetImportance .taskImportanceIcon{
	cursor: pointer;
}

.taskBoxCompleted  .buttonSetImportance .taskImportanceIcon{
	color: var(--sidebar-text-color-darkest);
}

.taskListViewBg .inputContainer{
	display: flex;              
    bottom:0; 
	margin-bottom: 10px;
	width: auto;
	height: 25px;
	background-color: rgba(41, 50, 73, 0.6);
	border-radius: 10px;
	justify-content: left;
  	align-items: center;
	padding: 10px 10px;
	margin-top: auto;
	
}

.taskListViewBg .inputContainer:hover{
	background-color: rgba(41, 50, 73, 1.0);
}

.taskListViewBg .inputContainer .icon .hiddenButton{
	border: none;
	cursor: pointer;
}

.taskListViewBg .inputContainer .icon{
	float: left;
	display: inline;
	padding-right: 10px;
	font-size: 1.13em;
}

.taskListViewBg .inputContainer input.taskAddTask{
	background-color: rgba(41, 50, 73, 0.0);
	border: none;
	display: inline;
	flex-direction: column;
	font-size: 16px;
	height: 25px;
}

.taskListPage .taskNameAndList .taskTitleRenameBox .taskFormBox input{
	color: white;
	background-color: rgba(41, 50, 73, 0.0);
	border: none;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;

}

input, select, textarea{
    color: white;
}