/*
 * To-Do Plus
 * taskDetails.css
 * @author: Patrik Skaloš (xskalo01)
 */

.taskDetailsMenu{
	background-color: var(--sidebar-bg-color);
	position: absolute;
	right: 0;
	top: 0;
	float: right;
	display: block;
	width: 35%;
	height: 100%;
	/* opacity: 0.9; */
	overflow-y: hidden;
}

.taskDetails{
	height: calc(100% - 105px);
	overflow-y: scroll;
}

.taskDetailsNewSubtaskInput:hover,
.taskDetailsSubtaskTitleInput:hover,
.taskDetailsTitleInput:hover{
	background-color: var(--sidebar-bg-color-darker);
}
.taskDetailsNewSubtaskInput:focus,
.taskDetailsSubtaskTitleInput:focus,
.taskDetailsTitleInput:focus{
	background-color: var(--sidebar-bg-color-darkest);
	color: var(--sidebar-text-color-lightest);
}

.taskDetailsTitle{
	color: var(--sidebar-text-color-lighter);
	margin: 10px 20px;
}
.taskDetailsTitleCheckbox{
	display: inline;
}
.taskDetailsTitleForm{
	display: inline;
	margin: 0px 5px;
}
.taskDetailsTitleInput{
	display: inline;
	background-color: inherit;
	color: var(--sidebar-text-color-lighter);
	font-weight: bold;
	font-size: 14pt;
	padding: 10px;
	width: calc(100% - 75px);
	outline: none;
	border: none;
}
.taskDetailsImportanceIcon{
	display: inline;
	float: right;
	margin-top: 7px;
	margin-right: -2px;
}

.taskDetailsSubtasks{
	margin: 0px 20px;
	color: var(--sidebar-text-color);
	overflow-y: auto;
	font-size: 11pt;
}
.taskDetailsSubtaskComplete{
	float: left;
	position: relative;
}
.taskDetailsSubtaskTitleForm{
	height: 100%;
	width: calc(100% - 70px);
	margin-left: 7px;
	margin-bottom: 7px;
	float: left;
}
.taskDetailsSubtaskDelete{
	float: right;
	position: relative;
}
.taskDetailsSubtaskComplete,
.taskDetailsSubtaskDelete{
	top: 2px;
}
.taskDetailsSubtaskTitleInput{
	background-color: inherit;
	color: var(--sidebar-text-color-lighter);
	height: 5px;
	font-size: 11pt;
	padding: 10px 7px;
	width: 100%;
	outline: none;
	border: none;
}
.taskDetailsSubtaskTitleInputCompleted,
.taskDetailsTitleInputCompleted{
	color: var(--sidebar-text-color-darkest);
}
.taskDetailsSubtaskSeparator{
	display: block;
	background-color: var(--sidebar-text-color-darkest);
	height: 1px;
	width: 100%;
	border: none;
}


.taskDetailsNewSubtaskForm{
	display: inline;
	float: left;
	width: calc(100% - 45px);
}
.taskDetailsNewSubtaskInput{
	background-color: inherit;
	font-size: 12pt;
	padding: 10px;
	width: 100%;
	outline: none;
	border: none;
}
.taskDetailsNewSubtaskInput{
	color: var(--sidebar-text-color-darker);
	height: 15px;
}
.taskDetailsNewSubtaskInput::placeholder{
	color: var(--sidebar-text-color-darker);
	opacity: 1;
}
.taskDetailsNewSubtaskIcon{
	color: var(--sidebar-text-color-darker);
	display: inline;
	float: right;
	height: 20px;
	padding: 6px 0px;
	margin-right: 4px;
}

.taskDetailsMyDay, .taskDetailsDueDate{
	background-color: var(--sidebar-bg-color-darker);
	color: var(--sidebar-text-color);
	font-size: 12pt;
	padding: 10px 10px;
	border-radius: 10px;
	margin: 15px 15px;
}
.taskDetailsMyDay:hover, .taskDetailsDueDate:hover{
	background-color: var(--sidebar-bg-color-darkest);
}

.taskDetailsMyDay{
	margin-top: 30px;
}
.taskDetailsMyDayIcon{
	display: inline;
	float: left;
}
.taskDetailsMyDayText{
	display: inline; 
	margin: 15px;
}
.myDayToggle, .dueDateToggle{
	background-color: var(--sidebar-bg-toggle-color);
	color: var(--sidebar-text-color-lightest);
}
.myDayToggle:hover, .dueDateToggle:hover{
	background-color: var(--sidebar-bg-toggle-color-darker);
}

.taskDetailsDueDate{
}
.taskDetailsDueDateButton{
}
.taskDetailsDueDateText{
	display: inline; 
	padding: 15px;
}
.taskDetailsDueDateInput{
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.taskDetailsLowerBar{
	background-color: var(--sidebar-bg-color-darker);
	width: calc(100% - 20px);
	padding: 10px;
	margin-top: 5px;
}
.taskDetailsDateCreated{
	color: white;
	display: inline;
	margin-left: 5px;
}
.taskDetailsDeleteButton{
	float: right;
}
.taskDetailsDeleteIcon{
}
.fa-trash-alt{
	color: red;
}

.taskDetailsTitleCheckbox, 
.taskDetailsImportanceIcon,
.taskDetailsSubtaskComplete, 
.taskDetailsSubtaskDelete,
.taskDetailsMyDay, 
.taskDetailsDueDateButton,
.taskDetailsDeleteButton{
	cursor: pointer;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
