/*
 * To-Do Plus
 * taskListView.css
 * @author: Michaela Pařilová(xparil04)
 */

.taskListViewBg{
	background-image: url("placeholder-bg.webp");
 	background-color: #cccccc;
	color: var(--sidebar-text-color-lightest);
}

.taskListLayout {
	display: flex;
	flex-direction: row;
	height: 100%;
	margin-right: -12px;
}

.taskListPage{
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-right: 12px;
	flex-grow: 2;
}

.taskListSubtitle .buttonShowCompletedTasks{
	border: none;
	cursor: pointer;
	font-size: 14px;
	margin-right: 20px;
	margin-left: auto;
	display: inline;
	width: 200px;
	align-items: bottom;
	color:rgba(255, 255, 255, 0.6)
}

.taskListSubtitle .buttonShowCompletedTasks:hover{
	text-decoration: underline; 
}

/* Added by tedro: */
.taskListSubtitle{
	display: flex;
	justify-content: space-between;
}
.showSearchBarIcon{
	cursor: pointer;
	margin: 15px 15px 0px 0px;
}
.showSearchBarIcon:hover{
	color: var(--sidebar-bg-color);
}

.searchBar{
	background-color: rgba(41, 50, 73, 0.6);
	height: 30px;
	padding: 8px 0px;
	border-radius: 10px;
}
.searchBar:hover{
	background-color: rgba(41, 50, 73, 1.0);
}
.searchBarIcon{
	margin: 0px 15px;
}
.searchBarForm{
	display: inline;
	color: white;
}
.searchBarInput{
	background-color: inherit;
	color: white;
	width: calc(100% - 70px);
	font-size: 12pt;
	height: 28px;
	border: none;
	padding-left: 7px;
	border-radius: 5px;
	outline: none;
}

/* Misa */
.taskNameAndList{
	display: flex;
}

.taskNameAndList .taskMenuList{
	margin-left: auto;
	align-items: center;	
	margin-top: 25px;
}

.taskNameAndList .taskMenuList button{
	border: none;
	background-color: rgba(41, 50, 73, 0.6);
	height: 30px;
	text-align: center;
	color: white;	
	font-size: 25px;
	padding: 0 20px;
	font-weight: bold;
	border-radius: 10px;
}

.taskNameAndList .taskMenuList button:hover{
	background-color: rgba(41, 50, 73, 1.0);	
}

.taskBox{
	position: relative;
	overflow: hidden;
	background-color: rgba(41, 50, 73, 0.6);
	margin-bottom: 15px;
	width: auto;
	height: 25px;
	display: flex;
	padding: 10px 10px;
	border-radius: 10px;
	justify-content: left;
	align-items: center;
}

.taskBox .selected {
	color:rgba(41, 50, 73, 0.0);
}

.taskBoxCompleted{
	position: relative;
	overflow: hidden;
	background-color: rgba(41, 50, 73, 0.6);
	margin-bottom: 15px;
	width: auto;
	height: 25px;
	display: flex;
	padding: 10px 10px;
	border-radius: 10px;
	justify-content: left;
	align-items: center;
	color: var(--sidebar-text-color-darkest);
}

.taskBoxCompleted:hover,
.taskBox:hover{
	background-color: rgba(41, 50, 73, 1.0);
}

.taskBoxCompleted .icon,
.taskBox .icon{
	float: left;
	display: inline;
	padding-right: 10px;
	cursor: pointer;
}

.taskBoxCompleted .content,
.taskBox .content{
	font-size: 16px;
}

.taskBoxCompleted .selected {
	color:rgba(41, 50, 73, 0.0);
}

.taskBoxCompleted,
.taskBox,
.taskInfo{
	margin-left: auto;
}

.taskInfo{
	display: flex;
}

.buttonSetImportance{
	padding: 5px;
}

/* Added by tedro */
.subtasksCompletedFraction{
	height: 100%;
	margin-top: 2px;
	margin-right: 10px;
}
.buttonMyDay{
	height: 100%;
	cursor: pointer;
	margin-right: 10px;
	padding: 5px;
}
.buttonMyDayToggle{
	background-color: var(--sidebar-bg-toggle-color-lighter); 
	border-radius: 5px;
}
.buttonMyDayIcon{
}
.taskProgressBar{
	background-color: green;
	border: none;
	position: absolute;
	left: 0px;
	bottom: -8px;
	height: 5px;
}

/* Misa */
.taskBoxCompleted  .buttonSetImportance .taskImportanceIcon,
.taskBox .buttonSetImportance .taskImportanceIcon{
	cursor: pointer;
}

.taskBoxCompleted  .buttonSetImportance .taskImportanceIcon{
	color: var(--sidebar-text-color-darkest);
}

.taskListViewBg .inputContainer{
	display: flex;              
	bottom:0; 
	margin-bottom: 10px;
	width: auto;
	height: 25px;
	background-color: rgba(41, 50, 73, 0.6);
	border-radius: 10px;
	justify-content: left;
	align-items: center;
	padding: 10px 10px;
	margin-top: auto;
	
}

.taskListViewBg .inputContainer:hover{
	background-color: rgba(41, 50, 73, 1.0);
}

.taskListViewBg .inputContainer .icon .hiddenButton{
	border: none;
	cursor: pointer;
}

.taskListViewBg .inputContainer .icon{
	float: left;
	display: inline;
	padding-right: 10px;
	font-size: 1.13em;
}

.taskListViewBg .inputContainer input.taskAddTask{
	background-color: rgba(41, 50, 73, 0.0);
	border: none;
	display: inline;
	flex-direction: column;
	font-size: 16px;
	height: 25px;
	outline: none;
}

.taskTitleRenameBox {
	width: 100%;
}

.taskListPage .taskNameAndList .taskTitleRenameBox .taskFormBox,
.taskListPage .taskTitleRenameBox .taskFormBox {
	width: fit-content;
	align-items: stretch;
	width: 100%;
}

.taskListPage .taskNameAndList .taskTitleRenameBox .taskFormBox input{
	color: white;
	background-color: rgba(41, 50, 73, 0.0);
	border: none;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
	outline: none;
	width: 100%;
}

.taskListPage .taskTitleRenameBox .taskFormBox input{
	color: white;
	background-color: rgba(41, 50, 73, 0.0);
	border: none;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 1.33em;
	margin-top: 1em;
	outline: none;
	width: 100%;
}

.taskListPage .taskTitleRenameBox .taskFormBox input::placeholder{
	color: white;
}


input, select, textarea{
    color: white;
}
